<div
  class="relative rounded-xl border-2 border-brand-green-turquoise bg-white px-4 py-4 lg:h-80"
>
  <div
    class="absolute inset-0 -top-4 left-10 right-0 inline-flex h-10 w-10 items-center justify-center rounded-full border-4 border-brand-green-turquoise bg-brand-turquoise text-lg text-white"
  >
    {{ number }}
  </div>
  <h1 class="py-4 text-lg font-bold lg:text-xl">{{ title | translate }}</h1>
  <p class="lg:text-lg">{{ content | translate }}</p>

  <p
    *ngIf="price"
    class="py-4 text-lg font-semibold text-brand-turquoise lg:text-xl"
  >
    Valeur {{ price }}
  </p>
</div>
