<div [ngClass]="containerClass" class="">
  <img [src]="'assets/images/'+type+'.svg'" [ngClass]="loaderClass" class="">
  <span>{{"Common.loading"|translate}}</span>
</div>


<!--<div class="bg-[#242429] p-2 rounded-md cursor-pointer transition-all hover:bg-pink-600 hover:rounded-xl mx-auto group">
  xcwx
  <div class="hidden lg:flex items-center justify-center">
    <span class="group-hover:scale-100 min-w-max rounded-md font-bold
          scale-0 lg:absolute text-sm w-auto p-2 m-2 bg-[#121214] text-white mb-8 left-14">
      Passer une commande
    </span>
  </div>
</div>-->
