<!--
    HERO SECTION
-->
<app-hero-interne
  [Headline]="['ai-application-platform.heroheadline']"
  [subHeadline]="['ai-application-platform.herosubheadline']"
  BannerText="ai-application-platform.bannertext"
  [BannerBtnVisible]="false"
></app-hero-interne>

<!--
      PROBLEMS SECTION
  -->
<app-problems-grid
  [items]="ProblemsItems"
  headline="ai-application-platform.problemheadline"
  subheadline="ai-application-platform.problemsubheadline"
  imgUrl="assets/images/architectures/Ai_application_platform.png"
></app-problems-grid>

<!--
      SOLUTIONS SECTION
    -->

<app-solutions-grid
  [Solutions]="SolutionsItems"
  Headline="ai-application-platform.solutionheadline"
  SubHeadline="ai-application-platform.solutionsubheadline"
></app-solutions-grid>

<!--
  FEATURES SECTION
-->

<!-- <app-poly-image
  title="ai-application-platform.polyimagetitle"
  content="ai-application-platform.polyimagecontent"
  btnText="Button.start"
  imageUrl="assets/images/tinified/abstract.webp"
>
</app-poly-image> -->

<app-polyimagereverse
  title="ai-application-platform.polyimagereversetitle"
  content="ai-application-platform.polyimagereversecontent"
  btnText="Button.start"
  imageUrl="assets/images/tinified/antonoir.webp"
></app-polyimagereverse>

<!-- <app-poly-image
  title="ai-application-platform.polyimagetitle2"
  content="ai-application-platform.polyimagecontent2"
  btnText="Button.start"
  imageUrl="assets/images/other/bots.webp"
>
</app-poly-image> -->

<!--
      BENEFITS SECTION
    -->

<div class="bg-[#CCDEE1] text-[#0D4977] text-3xl text-center p-8 font-bold">
  {{ "Common.Whatcanweachieve" | translate }}
</div>

<div class="bg-orange-50">
  <section class="max-w-7xl px-2 md:px-4 mx-auto space-y-6">
    <h1 class="max-w-5xl mx-auto text-center leading-normal pt-12">
      {{ "ai-application-platform.benefitsheadline" | translate }}
    </h1>

    <div class="grid px-8 md:px-0 md:grid-cols-3 pt-5 pb-20 gap-4 lg:gap-8">
      <app-card
        imageUrl="assets/images/tinified/file-wave.webp"
        content="ai-application-platform.benefitcardcontent1"
        btnText="Button.readMoreAcceleration"
      >
      </app-card>

      <app-card
        imageUrl="assets/images/tinified/connexion.webp"
        content="ai-application-platform.benefitcardcontent2"
        btnText="Button.readMoreAcceleration"
      >
      </app-card>

      <app-card
        imageUrl="assets/images/tinified/circuit-integre1.webp"

        content="ai-application-platform.benefitcardcontent3"
        btnText="Button.readMoreAcceleration"
      >
      </app-card>
    </div>
  </section>
</div>

<!-- MORE INFO SECTION -->

<div class="relative">
  <img
    class="inset-0 absolute object-cover h-full w-full brightness-50"
    src="assets/images/tinified/planet-connected.webp"
    alt=""
  />
  <section class="max-w-7xl px-2 md:px-4 mx-auto py-8 relative z-10">
    <h1 class="text-2xl lg:text-4xl text-white py-8 text-center font-bold">
      {{ "ai-application-platform.moreheadline" | translate }}
    </h1>
    <div
      class="grid lg:grid-cols-2 text-2xl text-center px-6 py-4 gap-12 lg:gap-0 lg:px-12 lg:py-5 text-white"
    >
      <div>
        {{ "ai-application-platform.moregrid1" | translate }}
      </div>
      <div>
        {{ "ai-application-platform.moregrid2" | translate }}
      </div>
    </div>

    <div class="flex justify-center py-4 lg:py-6">
      <a        [routerLink]="'/catalog'"
        class="px-12 py-2 rounded-full text-2xl uppercase btn-turquoise text-white"
      >
        {{ "Button.start" | translate }}
      </a>
    </div>
  </section>
</div>

<!-- INSIGHTS AND RESOURCES -->
<app-insights-resources></app-insights-resources>
