<div class="flex items-center justify-center bg-[#0D3B57] relative z-10">
  <div class="max-w-7xl px-2 md:px-4 w-full mx-auto p-12 gap-3 flex flex-col lg:flex-row justify-between items-center">
    <div class="text-white text-center lg:text-left">
      <h2 [class]="subHeadLineClass" *ngIf="reverseSubHeadlinePosition">
        <ng-container *ngFor="let item of subHeadline; let i = index;">
          {{item|translate}}<ng-container *ngIf="i <= subHeadline.length"><br class="hidden md:block"/></ng-container>
        </ng-container>
      </h2>
      <h1 [class]="headLineClass">
        <ng-container *ngFor="let item of headLine; let i = index;">
          {{item|translate}}<ng-container *ngIf="i <= headLine.length"><br class="hidden md:block"/></ng-container>
        </ng-container>
      </h1>
      <h2 [class]="subHeadLineClass" *ngIf="!reverseSubHeadlinePosition">
        <ng-container *ngFor="let item of subHeadline; let i = index;">
          {{item|translate}}<ng-container *ngIf="i <= subHeadline.length"><br class="hidden md:block"/></ng-container>
        </ng-container>
      </h2>
    </div>
    <div class="flex justify-end items-center" *ngIf="btnVisible">
      <a [href]="btnLink">
        <button class="border-2 text-2xl text-white py-2 px-6 border-white whitespace-nowrap rounded-full">
          {{btnText|translate}}
        </button>
      </a>
    </div>
  </div>
</div>
