<!--
    HERO SECTION
-->
<app-network-hero-platform
[imgUrl]="'assets/images/network-image/service monitoring4.jpg'"

  [Headline]="['quality-sls-sla-design.hero-head-line']"
  HeadlineClass="text-brand-old-blue"

  [subHeadline]="['quality-sls-sla-design.hero-sub-head-line','quality-sls-sla-design.hero-sub-head-line1','quality-sls-sla-design.hero-sub-head-line2','quality-sls-sla-design.hero-sub-head-line3']"
  BannerText="quality-sls-sla-design.BannerText"
  BannerTextClass="text-center lg:text-start text-xl lg:text-2xl xl:text-3xl font-extrabold">
</app-network-hero-platform>

<!--
      PROBLEMS SECTION
  -->
<app-network-problems-grid
  [items]="ProblemsItems"
  headlinesAlign="center"
  headline="quality-sls-sla-design.problems-head-line"
  subHeadline=""
  [imgUrl]="'/assets/images/other/Quality SLS-SLA Design B1.jpg'"
>
</app-network-problems-grid>

<app-network-solution-key-feature
  [headLine]="['quality-sls-sla-design.solution-key-feature.headLine',
    '']"
  [subHeadLine]="['quality-sls-sla-design.solution-key-feature.subHeadLine',
    ]"
  [cards]="Cards"
>

</app-network-solution-key-feature>


<!--
      MULTI IMAGE SECTION
  -->

  <div class="bg-[#FBFBFB] relative">
    <app-poly-image
     title="quality-sls-sla-design.poly-image1.title"

     [textBeforeList]="[
         'quality-sls-sla-design.poly-image1.textBeforeList1',
         '',
         'quality-sls-sla-design.poly-image1.textBeforeList2',

     ]"
               imageUrl="assets/images/other/qualityslacomposant.jpg"

     [btnVisible]="false">
   </app-poly-image>
    <app-poly-image
    imageUrl="assets/images/network-image/engeemserver2.webp"
     [title]="'quality-sls-sla-design.poly-image2.title'"
     [textBeforeList]="[
         'quality-sls-sla-design.poly-image2.textBeforeList1',
         '','quality-sls-sla-design.poly-image2.textBeforeList2'
     ]"

   [reverse]="true"
     [btnVisible]="false"

   >
   </app-poly-image>
    <app-poly-image
     [title]="'quality-sls-sla-design.poly-image3.title'"
     [textBeforeList]="[
         'quality-sls-sla-design.poly-image3.textBeforeList',
         '',
     ]"
      [list]="[
      'quality-sls-sla-design.poly-image3.list1',
      'quality-sls-sla-design.poly-image3.list2',
     
    ]"
    imageUrl="assets/images/other/quality-sls-sla-design3.svg"
    class="w-20 h-auto"


     [btnVisible]="true"
     btnText="Get Started Free"
     BtnClass="mb-12"

   >
   </app-poly-image>
 </div>
<!--
      BENEFITS SECTION
    --> 



<div class="bg-orange-50">
  <section class="max-w-7xl px-2 md:px-4 mx-auto space-y-6">
    <h1 class="max-4w-xl mx-auto text-center leading-normal pt-12">
      {{ "Get all the Benefits of Quality of Experience when Used for Network Analysis and Troubleshooting" | translate }}
    </h1>

  

    <div class="grid px-8 md:px-0 md:grid-cols-3 pt-5 pb-20 gap-4 lg:gap-8">
      <app-card
      imageUrl="assets/images/network-image/engeemnetworkhero2.webp"
        [title] ="['quality-sls-sla-design.cards.card1.title']"
        [textBeforeList] ="['quality-sls-sla-design.cards.card1.textBeforeList',
        'quality-sls-sla-design.cards.card1.textBeforeList2',
        '']"

        data-tour-center
        content="quality-sls-sla-design.card-content1"
        btnText="Button.readMoreAcceleration"
        [enableBtn]="true"

      >
      </app-card>

      <app-card
      imageUrl="assets/images/network-image/engeemnetworkcodebinaire2.webp"

        content="quality-sls-sla-design.card-content2"
        btnText="Button.readMoreAcceleration"
        [title] ="['quality-sls-sla-design.cards.card2.title']"
        [textBeforeList] ="['quality-sls-sla-design.cards.card2.textBeforeList',
        '',
        'quality-sls-sla-design.cards.card2.textBeforeList2']"
        [enableBtn]="true"

      >
      </app-card>

      <app-card
      imageUrl="assets/images/network-image/engeemheronetwork1.webp"
      
        
        [title] ="['quality-sls-sla-design.cards.card3.title']"
        [textBeforeList] ="['quality-sls-sla-design.cards.card3.textBeforeList'
        ,'',
        'quality-sls-sla-design.cards.card3.textBeforeList2']"


        content="quality-sls-sla-design.card-content3"
        btnText="Button.readMoreAcceleration"
        [enableBtn]="true"

      >
      </app-card>
    </div>
  </section>
</div>


<app-network-striped-banner
  [headLine]="[
    'quality-sls-sla-design.last-banner-headline',
  ]"
   headLineClass="text-2xl lg:text-4xl py-8 text-center font-bold text-white"
   image="assets/images/network-image/Background-01.png"
  textLeft="quality-sls-sla-design.last-banner-left-text"
  textRight="quality-sls-sla-design.last-banner-right-text"
></app-network-striped-banner>


<!-- INSIGHTS AND RESOURCES -->
<app-insights-resources></app-insights-resources>
