<div class="bg-[#FFF9EA]">
  <div class="lg:max-w-7xl px-2 md:px-4 lg:mx-auto py-12">
    <h1 class="text-5xl text-brand-old-blue text-center pb-10 uppercase">
      {{ "Insights.headline" | translate }}
    </h1>
    <div class="grid lg:grid-cols-4 w-full gap-8 px-5">
      <div
        class="lg:col-span-2 bg-brand-turquoise h-72 rounded-md shadow-xl relative"
      >
        <div
          class="absolute inset-0 z-10 h-full w-full opacity-50 bg-[#2BBED0] bg-[radial-gradient(#ffff_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_10%_60%,#000_60%,transparent_100%)]"
        ></div>
        <div class="flex flex-col h-full relative z-10">
          <h1 class="flex text-4xl text-white font-bold p-4">
            {{ "Insights.caseTitle" | translate }}
          </h1>
          <div class="mt-auto max-w-sm p-4 py-6">
            <h2 class="text-xl text-white font-bold mb-4">
              {{ "Insights.caseContent" | translate }}
            </h2>

            <a
              routerLink="/article"
              class="font-bold hover:underline text-white"
            >
              {{ "Insights.learnMore" | translate }}
            </a>
          </div>
        </div>
      </div>
      <div class="bg-[#73D6EB] rounded-md shadow-xl relative">
        <div
          class="absolute inset-0 z-10 h-full w-full opacity-50 bg-[#73D6EB] bg-[radial-gradient(#ffff_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_10%_60%,#000_60%,transparent_100%)]"
        ></div>
        <div class="flex flex-col h-full relative z-10">
          <h1 class="flex text-xl text-gray-800 font-bold p-4">
            {{ "Insights.whiteTitle" | translate }}
          </h1>
          <div class="mt-auto max-w-sm p-4 py-6">
            <h2 class="text-xl text-gray-800 font-bold mb-4">
              {{ "Insights.whiteContent" | translate }}
            </h2>

            <a
              routerLink="/article"
              class="font-bold hover:underline text-gray-800"
            >
              {{ "Insights.readMore" | translate }}
            </a>
          </div>
        </div>
      </div>
      <div class="bg-[#11567F] rounded-md shadow-xl relative">
        <div
          class="absolute inset-0 z-10 h-full w-full opacity-50 bg-[#11567F] bg-[radial-gradient(#9ca3af_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_10%_60%,#000_60%,transparent_100%)]"
        ></div>

        <div class="flex flex-col h-full relative z-10">
          <h1 class="flex text-xl text-white font-bold p-4">
            {{ "Insights.industryTitle" | translate }}
          </h1>
          <div class="mt-auto max-w-sm p-4 py-6">
            <h2 class="text-xl text-white font-bold mb-4">
              {{ "Insights.industryContent" | translate }}
            </h2>

            <a
              routerLink="/article"
              class="font-bold hover:underline text-white"
            >
              {{ "Insights.learnMore" | translate }}
            </a>
          </div>
        </div>
      </div>

      <div
        class="lg:col-span-2 bg-[#FCA5B6] h-72 rounded-md shadow-xl relative"
      >
        <div
          class="absolute inset-0 z-10 h-full w-full opacity-50 bg-[#FCA5B6] bg-[radial-gradient(#000_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_65%_50%_at_10%_50%,#000_60%,transparent_100%)]"
        ></div>
        <div class="flex flex-col h-full relative z-10">
          <h1 class="flex text-4xl text-white font-bold p-4">
            {{ "Insights.guideTitle" | translate }}
          </h1>
          <div class="mt-auto max-w-sm p-4 py-6">
            <h2 class="text-xl text-white font-bold mb-4">
              {{ "Insights.guideContent" | translate }}
            </h2>

            <a
              routerLink="/article"
              class="font-bold hover:underline text-white"
            >
              {{ "Insights.learnMore" | translate }}
            </a>
          </div>
        </div>
      </div>
      <div
        class="lg:col-span-2 bg-[#11567F] rounded-md shadow-xl relative text-white"
      >
        <div
          class="absolute inset-0 z-10 h-full w-full opacity-50 bg-[#11567F] bg-[radial-gradient(#9ca3af_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_10%_60%,#000_60%,transparent_100%)]"
        ></div>

        <div class="flex flex-col h-full relative z-10">
          <h1 class="flex text-3xl text-white font-bold p-4">
            {{ "Insights.newsTitle" | translate }}
          </h1>
          <div class="mt-auto max-w-sm p-4 py-6">
            <h2 class="text-lg font-bold text-white">
              {{ "Insights.newsSubtitle" | translate }}
            </h2>

            <a routerLink="/article" class="font-bold hover:underline">{{
              "Insights.listenNow" | translate
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
