<section class="relative" >
  <img
    class="absolute inset-0 h-full w-full bg-center backdrop-contrast-50"
    src="assets/images/network-image/heronetwork4.png"
  />

  <div
    class=""
  ></div>

  <div
    class=""
  ></div>

 <!-- <img
    class="absolute right-0 h-full opacity-50"
    src="assets/images/network-image/engeemhome.webp"
  />-->

  <div class="relative z-10">
    <div
      class="max-w-7xl px-2 md:px-12 mx-auto pt-12 lg:py-28 lg:mb-32 relative"
    >
      <div class="relative z-10">
        <h1 class="text-white text-center lg:text-left lg:w-3/4 font-black">
          {{ "Home.Heading" | translate }}
        </h1>
        <h2
          class="lg:text-2xl text-center lg:text-left lg:w-3/4 py-8 lg:max-w-xl text-white"
        >
          {{ "Home.SubHeading" | translate }}
        </h2>

        <div
          class="w-full justify-center lg:justify-start py-12 pt-5 lg:py-12 flex"
        >
          <a
            [routerLink]="'/catalog'"
            class="py-2 uppercase px-6 text-xl rounded-full btn-turquoise"
          >
            {{ "Button.start" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="flex justify-center items-center relative bg-orange-100">
  <div
    class="lg:max-w-7xl bg-white lg:rounded-2xl -top-56 lg:absolute px-2 py-4 text-brand-old-blue shadow-xl"
  >
    <h1
      class="text-xl lg:text-3xl font-bold text-brand-old-blue text-center mx-auto px-20"
    >
      {{ "Home.MasterClassHeadline" | translate }}
    </h1>
   
    
</div>
<div>
  <h1 class="text-brand-old-blue uppercase text-3xl text-center text-center py-6 pt-24">
    {{ "Home.PartnersHeading" | translate }}


  </h1>
  <h1 class="text-brand-old-blue uppercase text-2xl text-center text-center py-6">
    {{ "Home.PartnersHeading2" | translate }}


  </h1>
  <p
  class="text-xl lg:text-2xl  text-brand-old-white text-center  mb-24"
>
  {{ "Home.MasterClassSubHeadline" | translate }}

</p>
</div>
<!--<div
  class="grid md:grid-cols-5 gap-12  lg:px-40 px-12 max-w-7xl md:px-4 mx-auto py-12 items-center justify-center"
>
  <div class="flex flex-col items-center justify-center max-w-xs max-h-16">
    <img
      src="assets/images/logo/partner/Bouygues_Telecom.png"
      alt=""
      class="max-h-16"
    />
  </div>

  <div class="flex flex-col items-center justify-center max-w-xs max-h-16">
    <img
      src="assets/images/logo/partner/Orange_logo.png"
      alt=""
      class="max-h-16"
    />
  </div>

  <div class="flex flex-col items-center justify-center max-w-xs max-h-16">
    <img
      src="assets/images/logo/partner/keysight-technologies.png"
      alt=""
      class="rounded-3xl max-h-16"
    />
  </div>

  <div class="flex flex-col items-center justify-center max-w-xs max-h-16">
    <img
      src="assets/images/logo/partner/EDF.png"
      alt=""
      class="rounded-3xl max-h-16"
    />
  </div>

  <div class="flex flex-col items-center justify-center max-w-xs max-h-16">
    <img src="assets/images/logo/partner/SFR.png" alt="" class="max-h-16" />
  </div>
</div>-->
