<!--
    HERO SECTION
-->
<app-hero-interne
  [Headline]="['automated-operational-analytics.heroheadline']"
  [subHeadline]="[
    'automated-operational-analytics.herosubheadline1',
    'automated-operational-analytics.herosubheadline2'
  ]"
  [BannerText]="'automated-operational-analytics.bannertext'"
  customClass="teal"
></app-hero-interne>

<!--
      PROBLEMS SECTION
  -->
<app-problems-grid
  [items]="ProblemsItems"
  headline="automated-operational-analytics.problemheadline"
  subheadline="automated-operational-analytics.problemsubheadline"
  imgUrl="assets/images/architectures/Automated_Operational_Analytics.svg"
></app-problems-grid>

<!--
      SOLUTIONS SECTION
    -->

<app-solutions-grid
  [Solutions]="SolutionsItems"
  Headline="automated-operational-analytics.solutionheadline"
  SubHeadline="automated-operational-analytics.solutionsubheadline"
></app-solutions-grid>

<!--
  FEATURES SECTION
-->

<!-- <app-poly-image
  title="automated-operational-analytics.polyimagetitle"
  [content]="[
    'automated-operational-analytics.polyimagecontentlist1',
    'automated-operational-analytics.polyimagecontentlist2',
    'automated-operational-analytics.polyimagecontentlist3'
  ]"
  textBeforeList="automated-operational-analytics.polyimagetextbeforelist1"
  btnText="Button.start"
  imageUrl="./assets/images/other/data-map.jpeg"
>
</app-poly-image> -->

<app-polyimagereverse
  title="automated-operational-analytics.polyimagereversetitle"
  content="automated-operational-analytics.polyimagereversecontent"
  btnText="Button.start"
  imageUrl="./assets/images/tinified/circuit-integre1.webp"
></app-polyimagereverse>

<!-- <app-poly-image
  title="automated-operational-analytics.polyimagetitle2"
  [content]="[
    'automated-operational-analytics.polyimagecontentlist21',
    'automated-operational-analytics.polyimagecontentlist22',
    'automated-operational-analytics.polyimagecontentlist23'
  ]"
  textBeforeList="automated-operational-analytics.polyimagetextbeforelist"
  btnText="Button.start"
  imageUrl="./assets/images/tinified/number-matrix.webp"
>
</app-poly-image> -->

<app-polyimagereverse
  title="automated-operational-analytics.polyimagereversetitle2"
  [content]="[
    'automated-operational-analytics.polyimagereversecontentlist31',
    'automated-operational-analytics.polyimagereversecontentlist32',
    'automated-operational-analytics.polyimagereversecontentlist33'
  ]"
  textBeforeList="automated-operational-analytics.polyimagereversetextbeforelist2"
  btnText="Button.start"
  imageUrl="./assets/images/tinified/neurodata.webp"
></app-polyimagereverse>

<!--
      BENEFITS SECTION
    -->

<div class="bg-[#CCDEE1] text-[#0D4977] text-3xl text-center p-8 font-bold">
  {{ "Common.Whatcanweachieve" | translate }}
</div>

<div class="bg-orange-50">
  <section class="max-w-7xl px-2 md:px-4 mx-auto space-y-6">
    <h1 class="max-w-5xl mx-auto text-center leading-normal pt-12">
      {{ "automated-operational-analytics.benefitsheadline" | translate }}
    </h1>

    <h2 class="text-center max-w-3xl mx-auto leading-normal py-1">
      {{ "automated-operational-analytics.benefitssubheadline" | translate }}
    </h2>

    <div class="grid px-8 md:px-0 md:grid-cols-3 pt-5 pb-20 gap-4 lg:gap-8">
      <app-card
        imageUrl="./assets/images/tinified/manstanding.webp"

        btnText="Button.readMoreAcceleration"
      >
      </app-card>

      <app-card
        imageUrl="./assets/images/tinified/data-tour.webp"
        content="automated-operational-analytics.benefitcardcontent2"
        btnText="Button.readMoreAcceleration"
      >
      </app-card>

      <app-card
        imageUrl="./assets/images/other/bots.webp"
        content="automated-operational-analytics.benefitcardcontent3"
        btnText="Button.readMoreAcceleration"
      >
      </app-card>
    </div>
  </section>
</div>

<!-- MORE INFO SECTION -->

<div class="relative">
  <img
    class="inset-0 absolute object-cover h-full w-full brightness-50"
    src="assets/images/tinified/vortex.webp"
    alt=""
  />
  <section class="max-w-7xl px-2 md:px-4 mx-auto py-8 relative z-10 text-white">
    <h1 class="text-2xl lg:text-4xl py-8 text-center font-bold text-white">
      {{ "automated-operational-analytics.moreheadline" | translate }}
    </h1>
    <div
      class="grid lg:grid-cols-2 text-2xl text-[#ffffffe7] text-center px-6 py-4 gap-12 lg:gap-0 lg:px-12 lg:py-5"
    >
      <div>
        {{ "automated-operational-analytics.moregrid1" | translate }}
      </div>
      <div>
        {{ "automated-operational-analytics.moregrid2" | translate }}
      </div>
    </div>

    <div class="flex justify-center py-4 lg:py-6">
      <a        [routerLink]="'/catalog'"
        class="px-12 py-2 rounded-full text-2xl uppercase btn-turquoise text-white"
      >
        {{ "Button.start" | translate }}
      </a>
    </div>
  </section>
</div>

<!-- INSIGHTS AND RESOURCES -->
<app-insights-resources></app-insights-resources>
