<div class="relative h-full ">
  <img
  class="absolute inset-0 h-full w-full bg-center"
  [src]="image"
/>
  <section
    class="max-w-7xl px-2 md:px-4 mx-auto py-8 backdrop-opacity-50 text-brand-old-blue"
  >
    <h1
      class="relative z-10"
      *ngIf="headLine.length > 0"
      [ngClass]="headLineClass"
    >
      <ng-container *ngFor="let item of headLine; let i = index">
        {{ item | translate
        }}<ng-container *ngIf="i <= headLine.length"
          ><br class="hidden md:block"
        /></ng-container>
      </ng-container>
    </h1>
    <div
      class="grid lg:grid-cols-2 text-2xl text-center px-6 py-4 gap-12 lg:gap-0 lg:px-12 lg:py-5 text-white"
    >
      <div>{{ textLeft | translate }}</div>
      <div>{{ textRight | translate }}</div>
    </div>
    <div class="flex justify-center py-4 lg:py-6">
      <button class="px-12 py-2 rounded-full text-2xl uppercase btn-turquoise">
        Get started free
      </button>
    </div>
  </section>
</div>
