<div class="bg-[url(/assets/images/home1.jpg)] text-white bg-center relative">
  <div
    class="z-1 absolute inset-0 bg-gradient-to-b from-blue-600 to-blue-600 opacity-50"
  ></div>
  <div class="backdrop-brightness-50 relative">
    <div class="max-w-7xl px-2 md:px-4 mx-auto relative z-10 py-12">
      <div class="flex items-center justify-center">
        <p class="text-3xl text-center font-bold py-4 uppercase max-w-4xl">
          {{ "Home.InvestingHeadline" | translate }}
        </p>
      </div>

      <div class="grid grid-cols-4 py-7 gap-6">
        <p class="flex flex-col text-lg text-center">
          <span class="font-bold text-center h-28">
            {{ "Home.InvestingGridHealine1" | translate }}
          </span>
          {{ "Home.InvestingGridSubHealine1" | translate }}
        </p>

        <p class="flex flex-col text-lg text-center">
          <span class="font-bold text-center h-28">
            {{ "Home.InvestingGridHealine2" | translate }}
          </span>
          {{ "Home.InvestingGridSubHealine2" | translate }}
        </p>

        <p class="flex flex-col text-lg text-center">
          <span class="font-bold text-center h-28">
            {{ "Home.InvestingGridHealine3" | translate }}
          </span>
          {{ "Home.InvestingGridSubHealine3" | translate }}
        </p>

        <p class="flex flex-col text-lg text-center">
          <span class="font-bold text-center h-28">
            {{ "Home.InvestingGridHealine4" | translate }}
          </span>
          {{ "Home.InvestingGridSubHealine4" | translate }}
        </p>
      </div>

      <div class="flex items-center justify-center">
        <button
          class="px-2 py-3 bg-brand-turquoise hover:bg-brand-turquoise/80 transition-colors text-white text-xl font-bold rounded-md"
        >
          {{ "Home.InvestingCTOButton" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
