<div class="bg-white py-12 px-5">
  <div class="grid lg:grid-cols-2 max-w-7xl mx-auto">
    <div class="flex flex-col gap-8 text-white">
      <h1>ENGEEMisez vos données d'entreprise</h1>

      <p class="text-2xl text-black font-black">
        <!-- Text about why they would want to submit make it generic -->
        Créez votre BIG DATA en seulement quelques Clics !
      </p>

      <p class="text-2xl text-black">
        Déployez des Applications Analytiques BI et IA sans Ennuis
        Opérationnels... <br />
        Grâce à nos Architectures et Processus de Calculs Personnalisables,
        Performants et Sécurisés !
      </p>

      <p class="text-2xl text-black">
        Nous rendons l'Analytique Opérationnelle plus facile et plus sûre!
      </p>

      <p
        class="text-lg text-center lg:text-left font-black text-brand-old-blue"
      >
        *** Seulement 20 places restantes jusqu'au 16 Février ***
      </p>
    </div>

    <div class="py-8 lg:py-0">
      <app-viewer-form
        [isArticle]="false"
        title="Renseignez vos informations pour planifier votre kick-off projet"
        titleClass="text-2xl md:text-3xl font-bold text-gray-800 dark:text-gray-200 text-center"
        button="S'inscrire"
      >
      </app-viewer-form>
      <!-- <app-test-hubspot></app-test-hubspot> -->
    </div>
  </div>
</div>
