<!--
    HERO SECTION
-->
<app-network-hero-platform
  [Headline]="['qo-e-driven-optimization.hero-head-line']"
  HeadlineClass="text-white"
  [imgUrl]="'assets/images/network-image/hero2.jpg'"

  [subHeadline]="['qo-e-driven-optimization.hero-sub-head-line']"
  subHeadlineClass="text-white"

  BannerText="qo-e-driven-optimization.BannerText"
  BannerTextClass="text-center lg:text-start text-xl lg:text-2xl xl:text-3xl font-extrabold">
</app-network-hero-platform>

<!--
      PROBLEMS SECTION
  -->
<app-network-problems-grid
  [items]="ProblemsItems"
  headlinesAlign="center"
  headline="qo-e-driven-optimization.problems-head-line"
  subHeadline=""
  [imgUrl]="'assets/images/other/quoedriven.svg'"

  
>
</app-network-problems-grid>

<app-network-solution-key-feature
  [headLine]="['qo-e-driven-optimization.solution-key-feature.headLine',
    '']"
  [subHeadLine]="['qo-e-driven-optimization.solution-key-feature.subHeadLine',
    ' ']"
  [cards]="Cards"
>

</app-network-solution-key-feature>


<!--
      MULTI IMAGE SECTION
  -->

  <div class="bg-[#FBFBFB] relative">
    <app-poly-image
     title="qo-e-driven-optimization.poly-image1.title"
     imageUrl="assets/images/other/quoe2.jpg"
     [textBeforeList]="[
         'qo-e-driven-optimization.poly-image1.textBeforeList1',
         ' ',
         'qo-e-driven-optimization.poly-image1.textBeforeList2'

     ]"
    

     [btnVisible]="false">
   </app-poly-image>
    <app-poly-image
    [title]="'qo-e-driven-optimization.poly-image2.title'"
    imageUrl="assets/images/network-image/engeemnetworkunivers.webp"

    [textBeforeList]="[
        'qo-e-driven-optimization.poly-image2.textBeforeList1',

        'qo-e-driven-optimization.poly-image2.textBeforeList2',
        'qo-e-driven-optimization.poly-image2.textBeforeList3',
        '',
        

    ]"
    
       [reverse]="true"


     [btnVisible]="false"
   >
   </app-poly-image>
    <app-poly-image
     [title]="'qo-e-driven-optimization.poly-image3.title'"
     [textBeforeList]="[
         'qo-e-driven-optimization.poly-image3.textBeforeList1',
         '',
         
     ]"
     [list]="[
     'qo-e-driven-optimization.poly-image3.list1',
     'qo-e-driven-optimization.poly-image3.list2',
   ]"
   
       imageUrl="assets/images/other/qoe.driven5.svg"

     [btnVisible]="true"
     btnText="Get Started Free"
     BtnClass="mb-12"


   >
   </app-poly-image>
 </div>
<!--
      BENEFITS SECTION
    -->



<div class="bg-orange-50 px-12 py-10">
  <section class="max-w-7xl px-12 md:px-24  space-x-6">
    <h1 class="max-w-5xl mx-auto text-center leading-normal pt-12">
      {{ "qo-e-driven-optimization.app-card-headline" | translate }}
    </h1>

  

    <div class="grid px-8 md:px-0 md:grid-cols-3 pt-5 pb-20 gap-4 lg:gap-8">
      <app-card
        [title] ="['qo-e-driven-optimization.cards.card1.title']"
        [textBeforeList] ="[
        'qo-e-driven-optimization.cards.card1.textBeforeList',
        '',
        'qo-e-driven-optimization.cards.card1.textBeforeList2'
        ]"

        data-tour-center
        content="qo-e-driven-optimization.card-content1"
        btnText="Button.readMoreAcceleration"
        imageUrl="assets/images/network-image/engeemnetworkhero2.webp"
        [enableBtn]="true"
      >
      </app-card>

      <app-card
        image=""
        content="qo-e-driven-optimization.card-content2"
        btnText="Button.readMoreAcceleration"
        [title] ="['qo-e-driven-optimization.cards.card2.title']"
        [textBeforeList] ="['qo-e-driven-optimization.cards.card2.textBeforeList',
        'qo-e-driven-optimization.cards.card2.textBeforeList2']"
        imageUrl="assets/images/network-image/engeemnetworkcodebinaire2.webp"
        [enableBtn]="true"


      >
      </app-card>

      <app-card
        image=""
        [title] ="['qo-e-driven-optimization.cards.card3.title']"
        [textBeforeList] ="['qo-e-driven-optimization.cards.card3.textBeforeList',
        'qo-e-driven-optimization.cards.card3.textBeforeList2']"
        content="qo-e-driven-optimization.card-content3"
        btnText="Button.readMoreAcceleration"
        imageUrl="assets/images/network-image/engeemheronetwork1.webp"
        [enableBtn]="true"


      >
      </app-card>
    </div>
  </section>
</div>


<app-network-striped-banner
  [headLine]="[
    'qo-e-driven-optimization.last-banner-headline',
  ]"
  headLineClass="text-2xl lg:text-4xl py-8 text-center font-bold text-white"
  textLeft="qo-e-driven-optimization.last-banner-left-text"
  textRight="qo-e-driven-optimization.last-banner-right-text"
  image="assets/images/network-image/data processing.jpg"
></app-network-striped-banner>


<!-- INSIGHTS AND RESOURCES -->
<app-insights-resources></app-insights-resources>
