<!--
    HERO SECTION
-->
<app-network-hero-platform
[imgUrl]="'assets/images/network-image/heronetwork4.png'"

  [Headline]="['cognitive-customer-experience.hero-head-line']"
  HeadlineClass="text-white"
  [subHeadline]="['cognitive-customer-experience.hero-sub-head-line']"
  subHeadlineClass="text-white"
  BannerText="cognitive-customer-experience.BannerText"
  BannerTextClass="text-center lg:text-start text-xl lg:text-2xl xl:text-3xl font-extrabold">
</app-network-hero-platform>

<!--
      PROBLEMS SECTION
  -->
<app-network-problems-grid
  [items]="ProblemsItems"
  headlinesAlign="center"
  headline="cognitive-customer-experience.problems-head-line"
  subHeadline=""
  [imgUrl]="'assets/images/other/Cognitive Customer Experience D1.png'"
>
</app-network-problems-grid>

<app-network-solution-key-feature
[cards]="Cards"
[headLine]="['cognitive-customer-experience.solution-key-feature.headLine']"
[subHeadLine]="['cognitive-customer-experience.solution-key-feature.subHeadLine']"
>

</app-network-solution-key-feature>


<!--
      MULTI IMAGE SECTION
  -->

  <div class="bg-[#FBFBFB] relative ">
    <app-poly-image
    imageUrl="assets/images/other/userimpact3.svg"
     title="cognitive-customer-experience.poly-image1.title"
     [textBeforeList]="['cognitive-customer-experience.poly-image1.textBeforeList1',
      'cognitive-customer-experience.poly-image1.textBeforeList2'
     ]"
     [list]="[
     'cognitive-customer-experience.poly-image1.list1',
     'cognitive-customer-experience.poly-image1.list2',
   ]"
    
    
     [btnVisible]="false">
   </app-poly-image>
    <app-poly-image
    imageUrl="assets/images/network-image/engemtonnerre.webp"
    bgClass="polygon-clip"

     [title]="'cognitive-customer-experience.poly-image2.title'"
     [textBeforeList]="[ 'cognitive-customer-experience.poly-image2.textBeforeList1',
         'cognitive-customer-experience.poly-image2.textBeforeList2',
         'cognitive-customer-experience.poly-image2.textBeforeList3'
     ]"
     [list]="[
     'cognitive-customer-experience.poly-image2.list1',
     'cognitive-customer-experience.poly-image2.list2'
   ]"
     
     [btnVisible]="false"
     [reverse]="true"
   >
   </app-poly-image>
    <app-poly-image
    imageUrl="assets/images/other/userimpact3.jpg"

     [title]="'cognitive-customer-experience.poly-image3.title'"
     [textBeforeList]="[
         'cognitive-customer-experience.poly-image3.textBeforeList1',
     ]"
      [list]="[
      'cognitive-customer-experience.poly-image3.list1',
      'cognitive-customer-experience.poly-image3.list2',
      'cognitive-customer-experience.poly-image3.list3',
    ]"

     [btnVisible]="true"
     btnText="Get Started Free"
     BtnClass="mb-12"

   >
   </app-poly-image>
 </div>
<!--
      BENEFITS SECTION
    -->



<div class="bg-orange-50">
  <section class="max-w-7xl px-2 md:px-4 mx-auto space-y-6">
    <h1 class="max-w-5xl mx-auto text-center leading-normal pt-12">
      {{ "The Benefits of an Efficient Network User Plane Data Monetization far beyond Performance Statistics" }}
    </h1>

  

    <div class="grid px-8 md:px-0 md:grid-cols-3 pt-5 pb-20 gap-4 lg:gap-8">
      <app-card
        imageUrl="assets/images/network-image/engeemnetworkhero2.webp"
        [title]="['cognitive-customer-experience.cards.card1.title']"
        [textBeforeList]="['cognitive-customer-experience.cards.card1.textBeforeList']"
        btnText="Button.readMoreAcceleration"
        [enableBtn]="true"

      >
      </app-card>

      <app-card
      imageUrl="assets/images/network-image/engeemnetworkcodebinaire2.webp"

        [title]="['cognitive-customer-experience.cards.card2.title']"
        [textBeforeList]="['cognitive-customer-experience.cards.card2.textBeforeList']"
        btnText="Button.readMoreAcceleration"
        [enableBtn]="true"

      >
      </app-card>

      <app-card
      imageUrl="assets/images/network-image/engeemheronetwork1.webp"

        [title]="['cognitive-customer-experience.cards.card3.title']"
        [textBeforeList]="['cognitive-customer-experience.cards.card3.textBeforeList']"
        btnText="Button.readMoreAcceleration"
        [enableBtn]="true"
      >
      </app-card>
    </div>
  </section>
</div>

<app-network-striped-banner
  [headLine]="['cognitive-customer-experience.last-banner-headline',
  ]"
     headLineClass="text-2xl lg:text-4xl py-8 text-center font-bold text-white"
     image="assets/images/network-image/Background-01.png"
  textLeft="cognitive-customer-experience.last-banner-left-text"
  textRight="cognitive-customer-experience.last-banner-right-text"
></app-network-striped-banner>


<!-- INSIGHTS AND RESOURCES -->
<app-insights-resources></app-insights-resources>
