<!--
    HERO SECTION
-->
<app-network-hero-platform
  [Headline]="['quality-of-experience.hero-head-line']"
  [imgUrl]="'assets/images/network-image/heronetwork4.png'"
HeadlineClass="text-white"
  [subHeadline]="['quality-of-experience.hero-sub-head-line']"
  subHeadlineClass="text-white"
  BannerText="quality-of-experience.BannerText"
  BannerTextClass="text-center lg:text-start text-xl lg:text-2xl xl:text-3xl font-extrabold">
</app-network-hero-platform>

<!--
      PROBLEMS SECTION
  -->
<app-network-problems-grid
  [items]="ProblemsItems"
  headlinesAlign="center"
  headline="quality-of-experience.problems-head-line"
  subHeadline=""
  imgUrl="assets/images/other/Quality of Experience D3.jpg"
>
</app-network-problems-grid>

<app-network-solution-key-feature
  [headLine]="['quality-of-experience.solution-key-feature.headLine']"
  [subHeadLine]="['quality-of-experience.solution-key-feature.subHeadLine']"
  [cards]="Cards"
>

</app-network-solution-key-feature>


<!--
      MULTI IMAGE SECTION
  -->

  <div class="bg-[#FBFBFB] relative">
    <app-poly-image
    imageUrl="assets/images/other/qualityofexperience2.jpg"

     title="quality-of-experience.poly-image1.title"
     [textBeforeList]="['quality-of-experience.poly-image1.textBeforeList1'
     ]"
    
    
     [btnVisible]="false">
   </app-poly-image>
    <app-poly-image
    imageUrl="assets/images/network-image/engeemnetworkunivers.webp"

     [title]="'quality-of-experience.poly-image2.title'"
     [textBeforeList]="[
         'quality-of-experience.poly-image2.textBeforeList1',
         'quality-of-experience.poly-image2.textBeforeList2',
         'quality-of-experience.poly-image2.textBeforeList3',
     ]"
    
     
     [btnVisible]="false"
     [reverse]="true"
   >
   </app-poly-image>
    <app-poly-image
    imageUrl="assets/images/other/qualitysla3.jpg"
     [title]="'quality-of-experience.poly-image3.title'"
     [textBeforeList]="[
         'quality-of-experience.poly-image3.textBeforeList1',

         'quality-of-experience.poly-image3.textBeforeList2',


     ]"
     textClass="leading-6"

      
     [btnVisible]="false"
   >
   </app-poly-image>

   <app-poly-image
   imageUrl="assets/images/network-image/engeemheronetwork1.webp"

     [title]="'quality-of-experience.poly-image4.title'"
     [textBeforeList]="[
         'quality-of-experience.poly-image4.textBeforeList1',
         'quality-of-experience.poly-image4.textBeforeList2',
     ]"
         [reverse]="true"

     
     [btnVisible]="true"
     btnText="Get Started Free"
     BtnClass="mb-8"


   >
   </app-poly-image>
 </div>
<!--
      BENEFITS SECTION
    -->



<div class="bg-orange-50">
  <section class="max-w-7xl px-2 md:px-4 mx-auto space-y-6">
    <h1 class="max-w-5xl mx-auto text-center leading-normal pt-12">
      {{ "The Benefits of an Efficient Quality of Experience for Service Oriented Network Optimization Strategy" }}
    </h1>

  

    <div class="grid px-8 md:px-0 md:grid-cols-3 pt-5 pb-20 gap-4 lg:gap-8">
      <app-card
      imageUrl="assets/images/network-image/engeemnetworkhero2.webp"
        [title] ="['quality-of-experience.cards.card1.title']"
        [textBeforeList] ="['quality-of-experience.cards.card1.textBeforeList1',
        '',
        'quality-of-experience.cards.card1.textBeforeList2']"

        data-tour-center
        content="quality-of-experience.card-content1"
        btnText="Button.readMoreAcceleration"
        [enableBtn]="true"

      >
      </app-card>

      <app-card
      imageUrl="assets/images/network-image/engeemnetworkcodebinaire2.webp"

        content="quality-of-experience.card-content2"
        btnText="Button.readMoreAcceleration"
        [title] ="['quality-of-experience.cards.card2.title']"
        [textBeforeList] ="['quality-of-experience.cards.card2.textBeforeList',
        '',
        '']"
        [enableBtn]="true"

      >
      </app-card>

      <app-card
      imageUrl="assets/images/network-image/engeemheronetwork1.webp"

        [title] ="['quality-of-experience.cards.card3.title']"
        [textBeforeList] ="['quality-of-experience.cards.card3.textBeforeList',
        '',
        ' ',
        ]"


        content="quality-of-experience.card-content3"
        btnText="Button.readMoreAcceleration"
        [enableBtn]="true"

      >
      </app-card>
    </div>
  </section>
</div>


<app-network-striped-banner
  [headLine]="[
    'quality-of-experience.last-banner-headline',
  ]"
   headLineClass="text-2xl lg:text-4xl py-8 text-center font-bold text-white"
   image="assets/images/network-image/Background-01.png"
  textLeft="quality-of-experience.last-banner-left-text"
  textRight="quality-of-experience.last-banner-right-text"
></app-network-striped-banner>


<!-- INSIGHTS AND RESOURCES -->
<app-insights-resources></app-insights-resources>
