<!--
    HERO SECTION
-->
<app-hero-interne
  [Headline]="['real-time-analytics.hero-head-line']"
  [subHeadline]="['real-time-analytics.hero-sub-head-line']"
  [BannerBtnVisible]="true"
></app-hero-interne>

<!--
      PROBLEMS SECTION
  -->
<app-problems-grid
  [items]="ProblemsItems"
  headline="real-time-analytics.problems-head-line"
  subheadline="real-time-analytics.problems-sub-head-line"
  imgUrl="assets/images/architectures/Realtime-Workflows.svg"
></app-problems-grid>

<!--
      SOLUTIONS SECTION
    -->

<app-solutions-grid
  [Solutions]="SolutionsItems"
  Headline="real-time-analytics.solutions-head-line"
  SubHeadline="real-time-analytics.solutions-sub-head-line"
></app-solutions-grid>

<!--
  FEATURES SECTION
-->

<!-- <app-poly-image
  title="real-time-analytics.poly-image-title1"
  content="real-time-analytics.poly-image-content1"
  btnText="Button.start"
  imageUrl="assets/images/tinified/coding.webp"
>
</app-poly-image> -->

<app-polyimagereverse
  title="real-time-analytics.poly-image-reverse-title1"
  content="real-time-analytics.poly-image-reverse-content1"
  btnText="Button.start"
  imageUrl="assets/images/tinified/antonoir.webp"
></app-polyimagereverse>

<!-- <app-poly-image
  title="real-time-analytics.poly-image-title2"
  content="real-time-analytics.poly-image-content2"
  btnText="Button.start"
  imageUrl="assets/images/tinified/manstanding.webp"
>
</app-poly-image> -->

<!--
      BENEFITS SECTION
    -->

<div class="bg-[#CCDEE1] text-[#0D4977] text-3xl text-center p-8 font-bold">
  {{ "Common.Whatcanweachieve" | translate }}
</div>

<div class="bg-orange-50">
  <section class="max-w-7xl px-2 md:px-4 mx-auto space-y-6">
    <h1 class="max-w-5xl mx-auto text-center leading-normal pt-12">
      {{ "real-time-analytics.app-card-headline" | translate }}
    </h1>

    <h2 class="text-center max-w-3xl mx-auto leading-normal py-1">
      {{ "real-time-analytics.app-card-sub-headline" | translate }}
    </h2>

    <div class="grid px-8 md:px-0 md:grid-cols-3 pt-5 pb-20 gap-4 lg:gap-8">
      <app-card
        imageUrl="assets/images/tinified/number-matrix.webp"
        data-tour-center
        content="real-time-analytics.card-content1"
        btnText="Button.readMoreAcceleration"
      >
      </app-card>

      <app-card
        imageUrl="assets/images/tinified/stats.webp"
        content="real-time-analytics.card-content2"
        btnText="Button.readMoreAcceleration"
      >
      </app-card>

      <app-card
        imageUrl="assets/images/tinified/abstract-tech.webp "

        content="real-time-analytics.card-content3"
        btnText="Button.readMoreAcceleration"
      >
      </app-card>
    </div>
  </section>
</div>

<div class="relative">
  <img
    class="inset-0 absolute object-cover h-full w-full brightness-50"
    src="assets/images/tinified/vortex.webp"
    alt=""
  />
  <section class="max-w-7xl px-2 md:px-4 mx-auto py-8 relative z-10">
    <h1 class="text-2xl lg:text-4xl py-8 text-center font-bold text-white">
      {{ "real-time-analytics.last-banner-headline" | translate }}
    </h1>
    <div
      class="grid lg:grid-cols-2 text-2xl text-center px-6 py-4 gap-12 lg:gap-0 lg:px-12 lg:py-5 text-white"
    >
      <div>
        {{ "real-time-analytics.last-banner-left-text" | translate }}
      </div>
      <div>
        {{ "real-time-analytics.last-banner-right-text" | translate }}
      </div>
    </div>

    <div class="flex justify-center py-4 lg:py-6">
      <a        [routerLink]="'/catalog'"
        class="px-12 py-2 rounded-full text-2xl uppercase btn-turquoise text-white"
      >
        {{ "Button.start" | translate }}
      </a>
    </div>
  </section>
</div>

<!-- INSIGHTS AND RESOURCES -->
<app-insights-resources></app-insights-resources>
